    html, body, [class*="css"] {
        font-family: 'Segoe UI', sans-serif;
        color: #FFFFFF;
        background-color: #121212;
    }

    .stApp {
        max-width: 100%;
        padding: 2rem;
    }

    .block-container {
        padding-top: 1rem;
        padding-bottom: 2rem;
        background-color: #1E1E1E;
        border-radius: 12px;
        margin: auto;
    }

    .stButton>button {
        background-color: #FF9900;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border-radius: 6px;
        padding: 10px 25px;
        margin: 5px;
        border: none;
        transition: 0.3s;
    }

    .stButton>button:hover {
        background-color: #e68a00;
        color: #ffffff;
    }

    .stSelectbox>div {
        font-size: 18px;
        color: #FFFFFF;
    }

    .title-style {
        font-size: 38px;
        font-weight: bold;
        color: #FF9900;
        text-align: center;
        margin-bottom: 30px;
    }
